[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
twitter = "*"
"PyRSS2Gen" = "*"
bottle = "*"
feedgen = "*"

[requires]
python_version = "3.7"

[scripts]
twitterstream = "python twitterstream.py"
